[Unit]
Description=VS Code Tunnel Service
After=network.target

[Service]
Type=simple
User=ssm-user
ExecStart=/home/ssm-user/code tunnel
Restart=always

[Install]
WantedBy=multi-user.target